Obsidian to Social Media Automation.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1648,
        -32
      ],
      "id": "f0eb43d0-65d4-43d6-b9e3-35dacef04f23",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1488,
        -32
      ],
      "id": "e075c314-b678-463b-b469-32791fb8bc6e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "666d4ee0-a8e2-4548-9553-3e36969ecb83",
              "name": "metadata.status",
              "value": "={{ $json.metadata.status }}",
              "type": "string"
            },
            {
              "id": "d00fc14e-04c0-406b-8c26-d8270815c4d0",
              "name": "metadata.category",
              "value": "={{ $json.metadata.category }}",
              "type": "string"
            },
            {
              "id": "c2b2f3ac-dbfe-4e32-83f0-c6911bf8d956",
              "name": "metadata.platform",
              "value": "={{ $json.metadata.platform }}",
              "type": "string"
            },
            {
              "id": "ccb98baf-5e99-45b9-950e-68dad1bbf872",
              "name": "metadata[\"final post\"]",
              "value": "={{ $json.metadata[\"final post\"] }}",
              "type": "string"
            },
            {
              "id": "f40311f7-0c7b-433d-bcc0-1ba2cfa74489",
              "name": "metadata.image",
              "value": "={{ $json.metadata.image }}",
              "type": "string"
            },
            {
              "id": "052beac6-35fd-4cdd-b8dd-d25106e6a156",
              "name": "metadata.channel",
              "value": "={{ $json.metadata.channel }}",
              "type": "string"
            },
            {
              "id": "0a58b4e6-8cab-4bd2-8117-9ca9a4a2b078",
              "name": "metadata.scheduled_date",
              "value": "={{ $json.metadata.scheduled_date }}",
              "type": "string"
            },
            {
              "id": "7b69f8aa-aae1-4787-a7ce-bf0cb88602b9",
              "name": "metadata.posted_date",
              "value": "={{ $json.metadata.posted_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        -32
      ],
      "id": "abfe556b-7587-475c-977f-7099c4caeae4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const fileContent = item.json.data || \"\"; \n  \n  // This regex finds everything between the two --- marks at the top\n  const frontmatterRegex = /^---\\s*\\n([\\s\\S]*?)\\n---\\s*\\n?([\\s\\S]*)$/;\n  const match = fileContent.match(frontmatterRegex);\n\n  if (match) {\n    const yamlString = match[1];\n    const bodyContent = match[2];\n    \n    const metadata = {};\n    let currentKey = null; // Track the current key for multi-line lists\n    \n    // Split YAML by lines\n    yamlString.split('\\n').forEach(line => {\n      \n      // 1. Check if the line is a multi-line list item (e.g., \"  - Twitter\")\n      const listMatch = line.match(/^\\s*-\\s+(.*)$/);\n      \n      if (listMatch && currentKey) {\n        let listItemValue = listMatch[1].trim();\n        // Remove quotes if present on the list item\n        listItemValue = listItemValue.replace(/^[\"'](.+)[\"']$/, '$1');\n        \n        // If the current key isn't an array yet, convert it to one\n        if (!Array.isArray(metadata[currentKey])) {\n           // Clear out the empty string that was created by the parent key\n          metadata[currentKey] =[];\n        }\n        metadata[currentKey].push(listItemValue);\n        return; // Move to the next line so we don't process it as a key\n      }\n\n      // 2. Otherwise, treat it as a standard \"key: value\" line\n      const [key, ...valueParts] = line.split(':');\n      \n      // Check if it's a valid key line (has a key and a colon)\n      if (key && valueParts.length > 0) {\n        currentKey = key.trim().toLowerCase();\n        let value = valueParts.join(':').trim();\n        \n        // Basic cleanup: Remove quotes if present\n        value = value.replace(/^[\"'](.+)[\"']$/, '$1');\n        \n        // Basic cleanup: Turn inline [a, b] into an actual list\n        if (value.startsWith('[') && value.endsWith(']')) {\n          value = value.slice(1, -1).split(',').map(v => {\n             // also clean quotes out of inline array items\n             return v.trim().replace(/^[\"'](.+)[\"']$/, '$1'); \n          });\n        }\n        \n        metadata[currentKey] = value;\n      }\n    });\n\n    // Add the parsed data and the note body back to the item\n    item.json.metadata = metadata;\n    item.json.note_body = bodyContent.trim();\n  } else {\n    // If no YAML is found, just keep the content as is\n    item.json.note_body = fileContent.trim();\n    item.json.metadata = {};\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        -32
      ],
      "id": "3a795d7e-47fc-4d14-9bb0-f4201b79f6ce",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "limit": 5,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_SOCIAL_MEDIA_POSTS_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "06-Social_Media_Posts",
            "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_SOCIAL_MEDIA_POSTS_FOLDER_ID"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1856,
        -32
      ],
      "id": "7ce1b8bf-d81a-4e8d-baa6-3faac1fadf5f",
      "name": "Search files and folders",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.metadata.image[0] }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_ATTACHMENTS_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "08-attachments",
            "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_ATTACHMENTS_FOLDER_ID"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        -624
      ],
      "id": "f26d0bbe-2ba5-44c5-97dd-71cdde03683d",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -800
      ],
      "id": "595d2e3b-48a0-4ee6-a062-011e9bf32400",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2af7691-6c0d-49d4-8aec-ab98726bce98",
              "leftValue": "={{ $json.metadata.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "90fffc3a-17f1-4ecb-8781-4c0eb7042a7d",
              "leftValue": "={{ $json.metadata[\"final post\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -32
      ],
      "id": "7393dd51-76b0-4466-8421-9eeefab2dd81",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d19ec83b-429e-4764-af9e-eb41c2f097c0",
              "name": "data",
              "value": "={{ $('Extract from File').item.json.data.replace('posted_date:', 'posted_date: ' + $('Date & Time').item.json.currentDate).replace('status: ready', 'status: published') }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        816
      ],
      "id": "da8c511e-1fbc-4e0d-9bc4-168358dc2cf6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        816
      ],
      "id": "b608f8e2-953b-4221-9b6b-c9b8e9adf3f1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "newUpdatedFileName": "={{ $('Download file').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        816
      ],
      "id": "b8dfda8a-06ee-4dda-9d4b-b998b7424512",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -2064,
        -32
      ],
      "id": "1cbcf2bc-13e3-4e4f-b5f1-7165b511b8d7",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata.scheduled_date }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "dc2e5028-61fb-402e-9270-2a72227dd5a7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Schedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2893fc0-aa4d-4cfb-8ed6-fe1c2a5ef0be",
                    "leftValue": "={{ $json.metadata.scheduled_date }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Schedule"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -512,
        -48
      ],
      "id": "cf57147f-0e1e-4d1d-93b4-cfa8a807b26c",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata.image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "8a032a7c-ca08-4ee6-a0e0-a9b0ecdd076a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a45eb2e6-6b7b-48c3-aa4b-ac4dd6896175",
                    "leftValue": "={{ $json.metadata.image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        48,
        -240
      ],
      "id": "c49dcd76-584f-4666-b3e9-38a785486702",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata.image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "8a032a7c-ca08-4ee6-a0e0-a9b0ecdd076a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Has Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a45eb2e6-6b7b-48c3-aa4b-ac4dd6896175",
                    "leftValue": "={{ $json.metadata.image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -80,
        144
      ],
      "id": "8e20bdfb-d983-4aa5-810b-293d9b8ca797",
      "name": "Switch2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "152e0414-d606-4908-bbcc-a6a6c9a64b98",
              "leftValue": "={{ $json.metadata.scheduled_date ? new Date($json.metadata.scheduled_date) : new Date('2000-01-01') }}",
              "rightValue": "={{ $('Date & Time').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -224
      ],
      "id": "694bf246-afdd-4abc-b3ae-3b0205bdb44b",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata.platform }}",
                    "rightValue": "X",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "253cabec-572a-4362-bccc-04ea87237e75"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcdbb979-ec48-447d-883d-5b1ff5ddbfdf",
                    "leftValue": "={{ $json.metadata.platform }}",
                    "rightValue": "Mastodon",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mastodon"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "838f1675-c5fb-448d-98ee-04a68e656362",
                    "leftValue": "={{ $json.metadata.platform }}",
                    "rightValue": "Bluesky",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bluesky"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "67c893e4-d0aa-4b24-b5d8-ddda3c5cefb5",
                    "leftValue": "={{ $json.metadata.platform }}",
                    "rightValue": "Threads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78af743a-68e0-42b5-8864-27e71b604ede",
                    "leftValue": "={{ $json.metadata.platform }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        960,
        448
      ],
      "id": "c477cb04-12d2-4166-a4b8-81ed43e452ad",
      "name": "Platform Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.server.createSession",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "your.bsky.handle"
            },
            {
              "name": "password",
              "value": "YOUR_APP_PASSWORD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        608
      ],
      "id": "f55e6045-8cc8-413f-a3b7-1c33a870c0d6",
      "name": "BlueSky - Create Session3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.metadata['final post'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        208
      ],
      "id": "17575569-7b5d-4646-92bc-5b317809d113",
      "name": "Tweet Without Image1",
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X OAuth account"
        },
        "oAuth1Api": {
          "name": "Twitter OAuth1"
        },
        "httpBearerAuth": {
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "name": "Twitter Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://streamers.social/api/v1/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.metadata['final post'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        416
      ],
      "id": "5f24d205-c469-400a-825e-04eaebf0f607",
      "name": "Mastodon Post Without Image1",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessJwt }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"repo\": \"{{ $json.did }}\",\n  \"collection\": \"app.bsky.feed.post\",\n  \"record\": {\n    \"$type\": \"app.bsky.feed.post\",\n    \"text\": \"{{ $('Code in JavaScript10').item.json.safe_text }}\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        608
      ],
      "id": "dc411e15-ffaf-41d3-8d7b-426e97340307",
      "name": "BlueSky - Without Image1"
    },
    {
      "parameters": {
        "hostUrl": "=graph.threads.net",
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v1.0",
        "node": "YOUR_ACCOUNT_ID",
        "edge": "threads",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "TEXT"
              },
              {
                "name": "text",
                "value": "={{ $('Code in JavaScript10').item.json.metadata['final post'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1216,
        816
      ],
      "id": "90e52112-51c4-45d0-a951-cf9132a8b81f",
      "name": "Get Threads ID3",
      "credentials": {
        "facebookGraphApi": {
          "name": "Threads API"
        }
      }
    },
    {
      "parameters": {
        "hostUrl": "=graph.threads.net",
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v1.0",
        "node": "YOUR_ACCOUNT_ID",
        "edge": "threads_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1696,
        816
      ],
      "id": "7cf5d47a-77c7-4fd9-a37e-77622dadcf56",
      "name": "Post on Threads3",
      "credentials": {
        "facebookGraphApi": {
          "name": "Threads API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        816
      ],
      "id": "6d470947-f4b3-43d2-96fa-57c399ebee16",
      "name": "Wait2"
    },
    {
      "parameters": {
        "jsCode": "// Get the first item coming into this node\nconst item = $input.first();\n\n// Get the post text using the exact path you found\nconst postText = item.json.property_final_post;\n\n// --- This is the most important part ---\n// We must check if the text actually exists before we try to process it.\n// This prevents errors if the input data is ever empty.\nif (typeof postText === 'string') {\n\n  // JSON.stringify() is the Code node equivalent of the .json() method.\n  // It wraps the string in quotes and escapes any internal quotes.\n  // Example: \"Hello\" becomes \"\\\"Hello\\\"\"\n  let escapedText = JSON.stringify(postText);\n\n  // For a social media post, we don't want the outer quotes.\n  // This line removes the first character (\") and the last character (\").\n  item.json.safe_text = escapedText.slice(1, -1);\n\n} else {\n  // If postText was not found, create the safe_text field as an empty string\n  // to prevent errors in the next node.\n  item.json.safe_text = \"\";\n}\n\n// Return the entire item with the new 'safe_text' field added.\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        144
      ],
      "id": "ef4e74fa-3595-451e-9343-be72fef2a559",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://streamers.social/api/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        -880
      ],
      "id": "cb998554-fc32-4701-b4db-d1e9d84a1df0",
      "name": "Upload image to Mastodon",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://streamers.social/api/v1/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $('Code in JavaScript4').item.json.metadata['final post'] }}\",\n  \"media_ids\": [\n    \"{{ $json.id }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -880
      ],
      "id": "b0bbc77e-e287-42f0-b528-80c5429ec574",
      "name": "Create Mastodon Post",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        -1056
      ],
      "id": "7e4b422b-4a2f-4761-93ee-d4a6a4a9de79",
      "name": "Upload Image to Twitter",
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X OAuth account"
        },
        "oAuth1Api": {
          "name": "Twitter OAuth1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Code in JavaScript').item.json.safe_text }}\",\n  \"media\": {\n    \"media_ids\": [\n      \"{{ $('Upload Image to Twitter').item.json.media_id_string }}\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -1056
      ],
      "id": "f18e4883-6a43-49a2-ab9e-d1485301854e",
      "name": "Create Tweet with Media ID",
      "credentials": {
        "twitterOAuth1Api": {
          "name": "X OAuth account"
        },
        "oAuth1Api": {
          "name": "Twitter OAuth1"
        },
        "httpBearerAuth": {
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "name": "Twitter Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.server.createSession",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "your.bsky.handle"
            },
            {
              "name": "password",
              "value": "YOUR_APP_PASSWORD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -656
      ],
      "id": "e6778ff4-05e4-4964-92b9-7acf07e99493",
      "name": "BlueSky - Create Session",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.repo.uploadBlob",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessJwt }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        -672
      ],
      "id": "e9f31294-1143-4590-89ee-c212e71884db",
      "name": "BlueSky - Upload Blob"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('BlueSky - Create Session').item.json.accessJwt }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"repo\": \"{{ $('BlueSky - Create Session').item.json.did }}\",\n  \"collection\": \"app.bsky.feed.post\",\n  \"record\": {\n    \"$type\": \"app.bsky.feed.post\",\n    \"text\": \"{{ $('Code in JavaScript4').item.json.metadata['final post'] }}\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\",\n    \"embed\": {\n      \"$type\": \"app.bsky.embed.images\",\n      \"images\": [\n        {\n          \"alt\": \"\",\n          \"image\": {\n            \"$type\": \"blob\",\n            \"ref\": {\n              \"$link\": \"{{ $('BlueSky - Upload Blob').item.json.blob.ref.$link }}\"\n            },\n            \"mimeType\": \"{{ $('BlueSky - Upload Blob').item.json.blob.mimeType }}\",\n            \"size\": {{ $('BlueSky - Upload Blob').item.json.blob.size }}\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -672
      ],
      "id": "746b51bd-ef4a-493a-82f7-5f3a63ca0220",
      "name": "BlueSky - Create Post with Image"
    },
    {
      "parameters": {
        "hostUrl": "=graph.threads.net",
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v1.0",
        "node": "YOUR_ACCOUNT_ID",
        "edge": "threads",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "IMAGE"
              },
              {
                "name": "text",
                "value": "={{ $('Code in JavaScript4').item.json.metadata['final post'] }}"
              },
              {
                "name": "=image_url",
                "value": "=https://lh3.googleusercontent.com/d/{{ $('Search files and folders1').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1632,
        -480
      ],
      "id": "8ed04ae6-f51f-439e-9684-f528cebb5f1a",
      "name": "Get Threads ID1",
      "credentials": {
        "facebookGraphApi": {
          "name": "Threads API"
        }
      }
    },
    {
      "parameters": {
        "hostUrl": "=graph.threads.net",
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v1.0",
        "node": "YOUR_ACCOUNT_ID",
        "edge": "threads_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2064,
        -480
      ],
      "id": "124f3f28-fbec-46f1-88db-2e8eaf56df07",
      "name": "Post on Threads1",
      "credentials": {
        "facebookGraphApi": {
          "name": "Threads API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        -480
      ],
      "id": "bad474ff-467b-46be-b46a-2a9f45ca7af4",
      "name": "Wait"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        -304
      ],
      "id": "0b6d38e4-a6fa-4d64-a668-8ebf93bb6fa0",
      "name": "Wait4"
    },
    {
      "parameters": {
        "hostUrl": "=graph.instagram.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v24.0",
        "node": "YOUR_ACCOUNT_ID",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "IMAGE"
              },
              {
                "name": "caption",
                "value": "={{ $('Code in JavaScript4').item.json.metadata['final post'] }}"
              },
              {
                "name": "image_url",
                "value": "=https://lh3.googleusercontent.com/d/{{ $('Search files and folders1').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1632,
        -304
      ],
      "id": "11fd199e-6c0e-4367-9e2f-b564aac07883",
      "name": "Get Instagram ID",
      "credentials": {
        "facebookGraphApi": {
          "name": "Instagram API"
        }
      }
    },
    {
      "parameters": {
        "hostUrl": "=graph.instagram.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v24.0",
        "node": "YOUR_ACCOUNT_ID",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2064,
        -304
      ],
      "id": "9f7d4dc5-3cc0-4a05-b3e3-c458e7b747dd",
      "name": "Post on Instagram",
      "credentials": {
        "facebookGraphApi": {
          "name": "Instagram API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $('Search files and folders1').item.json.id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        -272
      ],
      "id": "b103c767-79a3-4dc8-b7ca-963e245bb58b",
      "name": "Download Image Threads2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pixelfed.social/api/v1/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $('Code in JavaScript4').item.json.safe_text }}\",\n  \"media_ids\": [\n    \"{{ $json.id }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -16
      ],
      "id": "a852e73c-3c70-4249-b369-5a364a30298e",
      "name": "Post to Pixelfed",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Pixelfed Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pixelfed.social/api/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -16
      ],
      "id": "cc00d9ed-5065-437b-b6d8-5690f544e67e",
      "name": "Upload image to Pixelfed",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Pixelfed Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the first item coming into this node\nconst item = $input.first();\n\n// Get the post text using the exact path you found\nconst postText = item.json.property_final_post;\n\n// --- This is the most important part ---\n// We must check if the text actually exists before we try to process it.\n// This prevents errors if the input data is ever empty.\nif (typeof postText === 'string') {\n\n  // JSON.stringify() is the Code node equivalent of the .json() method.\n  // It wraps the string in quotes and escapes any internal quotes.\n  // Example: \"Hello\" becomes \"\\\"Hello\\\"\"\n  let escapedText = JSON.stringify(postText);\n\n  // For a social media post, we don't want the outer quotes.\n  // This line removes the first character (\") and the last character (\").\n  item.json.safe_text = escapedText.slice(1, -1);\n\n} else {\n  // If postText was not found, create the safe_text field as an empty string\n  // to prevent errors in the next node.\n  item.json.safe_text = \"\";\n}\n\n// Return the entire item with the new 'safe_text' field added.\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -352
      ],
      "id": "f787a180-90c5-4e2b-a3f9-c06f1c49b9a7",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "X",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "253cabec-572a-4362-bccc-04ea87237e75"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcdbb979-ec48-447d-883d-5b1ff5ddbfdf",
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "Mastodon",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mastodon"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "838f1675-c5fb-448d-98ee-04a68e656362",
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "Bluesky",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bluesky"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "67c893e4-d0aa-4b24-b5d8-ddda3c5cefb5",
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "Threads",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78af743a-68e0-42b5-8864-27e71b604ede",
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08c9eb59-4d11-467c-9334-c11f1f6cf3d6",
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a66a3bed-e99b-4789-9d10-5d26418cf261",
                    "leftValue": "={{ $('Code in JavaScript4').item.json.metadata.platform }}",
                    "rightValue": "Pixelfed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pixelfed"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        832,
        -640
      ],
      "id": "24803487-12b6-480a-8efb-3a2dd5115828",
      "name": "Platform Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach back to the 'Download file1' node and grab the image\nconst imageFile = $('Download file1').first().binary.data;\n\n// 2. Return the current JSON (the login token) \n// AND re-attach the binary image so the next node can see it.\nreturn {\n  json: $json,\n  binary: {\n    data: imageFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -656
      ],
      "id": "3cd17e8a-545f-44a2-b597-ef03acf561ad",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach back to the 'Download file1' node and grab the image\nconst imageFile = $('Download file1').first().binary.data;\n\n// 2. Return the current JSON (the login token) \n// AND re-attach the binary image so the next node can see it.\nreturn {\n  json: $json,\n  binary: {\n    data: imageFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -864
      ],
      "id": "254e9d55-587f-407e-90c6-3722fa0bdb51",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach back to the 'Download file1' node and grab the image\nconst imageFile = $('Download file1').first().binary.data;\n\n// 2. Return the current JSON (the login token) \n// AND re-attach the binary image so the next node can see it.\nreturn {\n  json: $json,\n  binary: {\n    data: imageFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -1056
      ],
      "id": "483c5caa-ce55-400f-87d5-fb9203fc967a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach back to the 'Download file1' node and grab the image\nconst imageFile = $('Download file1').first().binary.data;\n\n// 2. Return the current JSON (the login token) \n// AND re-attach the binary image so the next node can see it.\nreturn {\n  json: $json,\n  binary: {\n    data: imageFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -320
      ],
      "id": "c3874c2d-7be8-49d9-a428-ce1fc81fabbe",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d19ec83b-429e-4764-af9e-eb41c2f097c0",
              "name": "data",
              "value": "={{ $('Extract from File').item.json.data.replace('posted_date:', 'posted_date: ' + $('Date & Time').item.json.currentDate).replace('status: ready', 'status: published') }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        -480
      ],
      "id": "30f0ee7c-eee2-4481-b32a-7f6e78918f64",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2528,
        -480
      ],
      "id": "af72879e-2f3f-42cd-80d8-6b61c84a4178",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "newUpdatedFileName": "={{ $('Download file').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2688,
        -480
      ],
      "id": "d797ec9b-e4a7-4dad-be7b-5256bbed0e81",
      "name": "Update file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $('Search files and folders1').item.json.id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -464
      ],
      "id": "f47af51c-a245-4092-9872-3f2ab6d7d115",
      "name": "Download Image Threads"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/20 8-22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2320,
        -32
      ],
      "id": "6f59bd65-d071-4265-95bc-90dd27f7297d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 1. Reach back to the 'Download file1' node and grab the image\nconst imageFile = $('Download file1').first().binary.data;\n\n// 2. Return the current JSON (the login token) \n// AND re-attach the binary image so the next node can see it.\nreturn {\n  json: $json,\n  binary: {\n    data: imageFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -16
      ],
      "id": "a0823201-45b1-41c7-9027-c80abe33759b",
      "name": "Code in JavaScript5"
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Platform Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Switch3": {
      "main": [
        [
          {
            "node": "Tweet Without Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mastodon Post Without Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BlueSky - Create Session3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Threads ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BlueSky - Create Session3": {
      "main": [
        [
          {
            "node": "BlueSky - Without Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet Without Image1": {
      "main": [
        []
      ]
    },
    "Mastodon Post Without Image1": {
      "main": [
        []
      ]
    },
    "BlueSky - Without Image1": {
      "main": [
        []
      ]
    },
    "Get Threads ID3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Threads3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Post on Threads3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Platform Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image to Mastodon": {
      "main": [
        [
          {
            "node": "Create Mastodon Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mastodon Post": {
      "main": [
        []
      ]
    },
    "Upload Image to Twitter": {
      "main": [
        [
          {
            "node": "Create Tweet with Media ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet with Media ID": {
      "main": [
        []
      ]
    },
    "BlueSky - Create Session": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BlueSky - Upload Blob": {
      "main": [
        [
          {
            "node": "BlueSky - Create Post with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BlueSky - Create Post with Image": {
      "main": [
        []
      ]
    },
    "Get Threads ID1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Threads1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Post on Threads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Post on Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram ID": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Instagram": {
      "main": [
        []
      ]
    },
    "Download Image Threads2": {
      "main": [
        [
          {
            "node": "Get Instagram ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Pixelfed": {
      "main": [
        []
      ]
    },
    "Upload image to Pixelfed": {
      "main": [
        [
          {
            "node": "Post to Pixelfed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BlueSky - Create Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image Threads",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "BlueSky - Upload Blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Upload image to Mastodon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Upload Image to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Download Image Threads2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Update file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image Threads": {
      "main": [
        [
          {
            "node": "Get Threads ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upload image to Pixelfed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "timestamp": "2026-03-24T18:00:00.631+02:00",
        "Readable date": "March 24th 2026, 6:00:00 pm",
        "Readable time": "6:00:00 pm",
        "Day of week": "Tuesday",
        "Year": "2026",
        "Month": "March",
        "Day of month": "24",
        "Hour": "18",
        "Minute": "00",
        "Second": "00",
        "Timezone": "Europe/Helsinki (UTC+02:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}